<%
=begin%>
 <% if user_signed_in? %>
  <div>
    <%= current_user.email %>
    <div style="inline-block; float:right;">
      <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
    </div>
    <br /><br /><br />
  </div>
<% end %> 
<%
=end%>


<%= content_tag :div,
  id: "appointments_data",
  data: @appointments.to_json do %>
    <%= javascript_pack_tag 'AppRouter' %>
<% end %>  
